.track {
  position: relative;
  overflow: hidden;

  div {
    width: max-content;
    min-width: 100%;
    height: max-content;
    min-height: 100%;

    * {
      margin: 0;
      position: relative;
      width: fit-content;
    }
  }
}

.vertical-track {
  min-height: 100%;
  max-height: 100%;
  width: max-content;

  div * {
    display: block;
  }
}

.horizontal-track {
  min-width: 100%;
  max-width: 100%;
  height: max-content;

  div * {
    display: inline;
  }
}
